<a href="https://colab.research.google.com/github/Aomaphisara/Python-basics/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [ ]:
import pandas as pd

# โครงสร้างข้อมูลของ Pandas
- Series
- Datafranme
- Panel

## Series
Series คือ เป็นโครงสร้างข้อมูลแบบ Array 1 มิติ (คอลัมน์เดียว) ที่เก็บข้อมูลต่างชนิดกันได้ มีส่วนประกอบ 2 ส่วน คือ
- Index ใช้อ้างอิงตำแหน่งของข้อมูล
- Element Value คือ ข้อมูลในแต่ละ index

### การสร้าง Series จาก list และ tuple

In [ ]:
data_ls = [10,20,'Kong',15.05,'มะละกอ'] # list
ls = pd.Series(data_ls)
ls

0        10
1        20
2      Kong
3     15.05
4    มะละกอ
dtype: object

In [ ]:
data_tp =(10,20,'Kong',15.05,'มะละกอ') # tuple
tp = pd.Series(data_tp)
tp

0        10
1        20
2      Kong
3     15.05
4    มะละกอ
dtype: object

### การสร้าง Series จาก numpy

In [ ]:
import numpy as np

In [ ]:
ndata = np.array(data_ls)
ps = pd.Series(ndata)
ps

0        10
1        20
2      Kong
3     15.05
4    มะละกอ
dtype: object

Array คือ การนำข้อมูลมาอยู่ในกลุ่มเดียวกัน โดยสมาชิกภายใน Array ต้องมี**ชนิดข้อมูลเหมือนกัน**

### การสร้าง Series จาก กำหนดเลข index

In [ ]:
item = ['องุ่น','กล้วย','ส้ม'] # list
idx = [50,20,30]
ps1 =  pd.Series(item,index=idx)
ps1

50    องุ่น
20    กล้วย
30      ส้ม
dtype: object

### การสร้าง Series จาก Dictionary
data_dict = {key:value,key:value}

In [ ]:
data = {'องุ่น':50,'กล้วย':20,'ส้ม':30}
ps2 =  pd.Series(data)
ps2

องุ่น    50
กล้วย    20
ส้ม      30
dtype: int64

In [ ]:
ps2['กล้วย']

20

### การเข้าถึงข้อมูลใน series (แบบช่วงข้อมูล Slice)
ps[star:stop-1]

In [ ]:
a =np.arange(1,26)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [ ]:
a[:] # ทั้งหมด

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [ ]:
a[9:] # เริ่มที่ index ที่ 9 เป็นต้นไป

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [ ]:
a[:10]  # เริ่มต้นไปจนถึงก่อน index ที่ 10

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
a[10:20]  # เริ่มต้น index ที่ 10 ไปจนถึงก่อน index ที่ 20

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

## Dataframe
Dataframe เป็นโครงสร้างข้อมูลแบบ Array 2 มิติ (ลักษณะเป็นตารางประกอบด้วย 2 คอลัมน์ขึ้นไป) หรือ การนำ Series หลาย ๆ อันมาเรียงต่อกัน เช่น ข้อมูลคะแนนนักเรียน ข้อมูลสินค้า ข้อมูลประชากร เป็นต้น

### การสร้าง Dataframe จาก list และ tuple

In [ ]:
data_ls = [10,20,'Kong',15.05,'มะละกอ'] # list
df_ls = pd.DataFrame(data_ls)
df_ls

        0
0      10
1      20
2    Kong
3   15.05
4  มะละกอ

In [ ]:
data_tp =(10,20,'Kong',15.05,'มะละกอ') # tuple
df_tp = pd.DataFrame(data_tp)
df_tp

        0
0      10
1      20
2    Kong
3   15.05
4  มะละกอ

### การสร้าง Dataframe แบบกำหนดคอลัมน์

In [ ]:
data = [15,23,20,30]
col = ['Age']
df =pd.DataFrame(data,columns=col)
df

   Age
0   15
1   23
2   20
3   30

### การสร้าง Dataframe จาก list หลายมิติ

In [ ]:
data1 = [['คีย์บบอร์ด','อุปกรณ์คอม',1200],['ตุ๊กตา','ของเล่น',900],['Iphone 12','มือถือ',30000]] 
col1 = ['Name','Category','Price']
df1 = pd.DataFrame(data1,columns=col1)
df1

         Name    Category  Price
0  คีย์บบอร์ด  อุปกรณ์คอม   1200
1      ตุ๊กตา     ของเล่น    900
2   Iphone 12      มือถือ  30000

### การสร้าง Dataframe จาก list ด้วย zip
กาารบีบอัดข้อมูล การนำ list ที่มีลักษณะคล้ายคลีงกันเอามารวมกันในกลุ่มๆหนึ่ง แล้วนำกลุ่มทั้งหมดไปวร้างตาราง

In [ ]:
name = ['คีย์บบอร์ด','ตุ๊กตา','Iphone 12']
Category	= ['อุปกรณ์คอม','ของเล่น','มือถือ']
Price = ['1200','900','30000']
datas = list(zip(name,Category,Price))
cols = ['ชื่อสินค้า','หมวดหมู่','ราคา']
df2 = pd.DataFrame(datas,columns=cols)
df2

   ชื่อสินค้า    หมวดหมู่   ราคา
0  คีย์บบอร์ด  อุปกรณ์คอม   1200
1      ตุ๊กตา     ของเล่น    900
2   Iphone 12      มือถือ  30000

### การสร้าง Dataframe จาก dictionary
- key เป็นคอลัมน์
- value เป็นแถว

In [ ]:
datas1 = [{'Name':'คีย์บอร์ด','Category':'อุปกรณ์คอม','Price':1200},{'Name':'ตุ๊กตา','Category':'ของเล่น','Price':800},{'Name':'Iphone 12','Category':'มือถือ','Price':30000}]
df3 = pd.DataFrame(datas1)
df3

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม   1200
1     ตุ๊กตา     ของเล่น    800
2  Iphone 12      มือถือ  30000

In [ ]:
df3.set_index(['Name'],inplace=True) # เปลี่ยน index เป็นคอลัมน์ Name

In [ ]:
df3

             Category  Price
Name
คีย์บอร์ด  อุปกรณ์คอม   1200
ตุ๊กตา        ของเล่น    800
Iphone 12      มือถือ  30000

### การสร้าง Dataframe จาก series

In [ ]:
Name = ['คีย์บบอร์ด','ตุ๊กตา','Iphone 12']
Category	= ['อุปกรณ์คอม','ของเล่น','มือถือ']
Price = ['1200','900','30000']

name_s = pd.Series(Name)
category_s = pd.Series(Category)
price_s = pd.Series(Price)

fram = {'Name':name_s,'Category':category_s,'Price':price_s}
df4 = pd.DataFrame(fram)
df4

         Name    Category  Price
0  คีย์บบอร์ด  อุปกรณ์คอม   1200
1      ตุ๊กตา     ของเล่น    900
2   Iphone 12      มือถือ  30000

## Panel
 Panel เป็นโครงสร้างข้อมูลแบบ 3 มิติ เป็นการนำ Dataframe หลาย ๆ อัน มาซ้อนกันจนเกิดเป็นชั้นหลายๆชั้น ประกอบไปด้วย 3 แกน
 - แกนที่ 0 Dataframe
 - แกนที่ 1 แถวหรือ Index ของแต่ละ Dataframe
 - แกนที่ 2 คอลัมน์ของแต่ละ Dataframe

# Load data

## แบบที่ 1 CSV

In [1]:
import pandas as pd

In [3]:
#1
from google.colab import drive
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [4]:
unit = pd.read_csv('/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [5]:
#2
#เชื่อม google drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/BPDV65')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/BPDV65

In [7]:
!ls

myunit.csv			 opendata_unittype_clean.csv
myunit.xlsx			 opendata_unittype.csv
opendata_eating_score_clean.csv  opendata_volume_listing_rent.csv
opendata_eating_score.csv	 Residental_clean.csv
opendata_living_score_clean.csv  Residental_clean.gsheet
opendata_living_score.csv	 thai.json
opendata_project_clean.csv	 Weather.csv
opendata_project.csv

In [8]:
#open CSV file 
import pandas as pd

In [9]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...

In [11]:
#3 upload data to colab
data0 = pd.read_csv('opendata_project.csv')
data0.head() #คำสั่ง .head() เรียกดู แถวต้นๆ

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

## แบบที่ 2 exel/sheet

In [12]:
# sheet

import pandas as pd
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [13]:
gsht = gc.open_by_key('1jIF55aFmr8rqqK7dBMXoyA71TWlHdIiiQAa0p1Dr794')
worksheet = gsht.worksheet('บ้าน')

In [14]:
rows = worksheet.get_all_values()
home = pd.DataFrame.from_records(rows)

In [17]:
home.head(3)

,0,1,2,3,4,5,6,7,8
0,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
1,01,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000,"5,000-15,000",,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
2,02,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน

## แบบที่ 3 json

In [18]:
import pandas as pd
import json

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
with open('/content/drive/MyDrive/dpdm/7-eleven.json') as json_file:
  this_json = json.loads(json_file.read())

In [22]:
list(this_json.keys())[:10]

['1', '4', '6', '7', '9', '11', '16', '17', '18', '19']

In [23]:
len(this_json)

3653

# ตรวจสอบข้อมูล

In [29]:
unit.head() # 5 แถวแรก

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [30]:
unit.tail() # 5 แถวท้าย

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [31]:
unit.sample() # สุ่มจำนวนแถว

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
31679,40262,60acaa50636bb200158f302a,60aca5ef3422b400139fbca1,เทมส์ กับ ทามาร์,20000,Twin house,บ้านแฝด,NaN,130.0,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:32:01,2021-05-25 14:44:39,baania,https://baania.com/th/project/บ้านบุรีรมย์-ราม...

In [32]:
unit.describe()# ดูค่าทางสถิติ

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [34]:
unit.shape #นับจำนวนข้อมูล

(42625, 27)

In [35]:
unit.columns #ดูมีคอลัมน์อะไรบ้าง

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [36]:
unit.values #อ่านข้อมูลแบบ Array

array([[27501, 'unittype_9565', 'project_2446', ...,
        '2021-11-19 17:44:45', 'baania',
        'https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาดพร้าว-วังหิน-79-2446/2-bedroom-unittype_9565'],
       [28777, 'unittype_10267', 'project_3543', ...,
        '2022-01-27 14:22:55', 'baania',
        'https://baania.com/th/project/เซน-บาย-ศิวาลัย-3543/บ้านแฝดสองชั้น-z-2-unittype_10267'],
       [28865, 'unittype_471', 'project_143', ..., '2022-01-14 14:40:04',
        'baania',
        'https://baania.com/th/project/วันพลัส-นายน์ทีน-143/1-bedroom-type-b-unittype_471'],
       ...,
       [41009, '617bde1687dd2300149d2195', '617bdd47f62011001350de07',
        ..., '2021-10-29 18:43:09', 'baania',
        'https://baania.com/th/project/เดอะริคโค้-ทาวน์-พหลโยธิน-วัชรพล-617bdd47f62011001350de07/grande-617bde1687dd2300149d2195'],
       [9333, 'unittype_37375', 'project_16389', ...,
        '2020-10-14 19:30:46', 'baania',
        'https://baania.com/th/project/ณรงค์กิจ-รามอินทรา-16389/บ้านเดี่ยวชั้นเดียว-unittype_37375'],
       [780, 'unittype_17011', 'project_6762', ...,
        '2020-10-14 00:41:39', 'baania',
        'https://baania.com/th/project/วราสิริ-รังสิต-ดอนเมือง-6762/บ้านธารา-unittype_17011']],
      dtype=object)

# ชี้ค่าในตาราง

In [25]:
unit['propertytype_name_th']

0           คอนโด
1         บ้านแฝด
2           คอนโด
3           คอนโด
4        ทาวน์โฮม
           ...
42620        บ้าน
42621        บ้าน
42622    ทาวน์โฮม
42623        บ้าน
42624        บ้าน
Name: propertytype_name_th, Length: 42625, dtype: object

In [26]:
unit['propertytype_name_th'][4]

'ทาวน์โฮม'

### .iloc

In [28]:
unit.iloc[4,6] #row,col

'ทาวน์โฮม'