<a href="https://colab.research.google.com/github/Aomaphisara/Python-basics/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [1]:
import pandas as pd

# โครงสร้างข้อมูลของ Pandas
- Series
- Datafranme
- Panel

## Series
Series คือ เป็นโครงสร้างข้อมูลแบบ Array 1 มิติ (คอลัมน์เดียว) ที่เก็บข้อมูลต่างชนิดกันได้ มีส่วนประกอบ 2 ส่วน คือ
- Index ใช้อ้างอิงตำแหน่งของข้อมูล
- Element Value คือ ข้อมูลในแต่ละ index

### การสร้าง Series จาก list และ tuple

In [2]:
data_ls = [10,20,'Kong',15.05,'มะละกอ'] # list
ls = pd.Series(data_ls)
ls

0        10
1        20
2      Kong
3     15.05
4    มะละกอ
dtype: object

In [3]:
data_tp =(10,20,'Kong',15.05,'มะละกอ') # tuple
tp = pd.Series(data_tp)
tp

0        10
1        20
2      Kong
3     15.05
4    มะละกอ
dtype: object

### การสร้าง Series จาก numpy

In [4]:
import numpy as np

In [5]:
ndata = np.array(data_ls)
ps = pd.Series(ndata)
ps

0        10
1        20
2      Kong
3     15.05
4    มะละกอ
dtype: object

Array คือ การนำข้อมูลมาอยู่ในกลุ่มเดียวกัน โดยสมาชิกภายใน Array ต้องมี**ชนิดข้อมูลเหมือนกัน**

### การสร้าง Series จาก กำหนดเลข index

In [6]:
item = ['องุ่น','กล้วย','ส้ม'] # list
idx = [50,20,30]
ps1 =  pd.Series(item,index=idx)
ps1

50    องุ่น
20    กล้วย
30      ส้ม
dtype: object

### การสร้าง Series จาก Dictionary
data_dict = {key:value,key:value}

In [7]:
data = {'องุ่น':50,'กล้วย':20,'ส้ม':30}
ps2 =  pd.Series(data)
ps2

องุ่น    50
กล้วย    20
ส้ม      30
dtype: int64

In [8]:
ps2['กล้วย']

20

### การเข้าถึงข้อมูลใน series (แบบช่วงข้อมูล Slice)
ps[star:stop-1]

In [9]:
a =np.arange(1,26)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [10]:
a[:] # ทั้งหมด

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [11]:
a[9:] # เริ่มที่ index ที่ 9 เป็นต้นไป

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [12]:
a[:10]  # เริ่มต้นไปจนถึงก่อน index ที่ 10

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [13]:
a[10:20]  # เริ่มต้น index ที่ 10 ไปจนถึงก่อน index ที่ 20

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

## Dataframe
Dataframe เป็นโครงสร้างข้อมูลแบบ Array 2 มิติ (ลักษณะเป็นตารางประกอบด้วย 2 คอลัมน์ขึ้นไป) หรือ การนำ Series หลาย ๆ อันมาเรียงต่อกัน เช่น ข้อมูลคะแนนนักเรียน ข้อมูลสินค้า ข้อมูลประชากร เป็นต้น

### การสร้าง Dataframe จาก list และ tuple

In [14]:
data_ls = [10,20,'Kong',15.05,'มะละกอ'] # list
df_ls = pd.DataFrame(data_ls)
df_ls

        0
0      10
1      20
2    Kong
3   15.05
4  มะละกอ

In [15]:
data_tp =(10,20,'Kong',15.05,'มะละกอ') # tuple
df_tp = pd.DataFrame(data_tp)
df_tp

        0
0      10
1      20
2    Kong
3   15.05
4  มะละกอ

### การสร้าง Dataframe แบบกำหนดคอลัมน์

In [16]:
data = [15,23,20,30]
col = ['Age']
df =pd.DataFrame(data,columns=col)
df

   Age
0   15
1   23
2   20
3   30

### การสร้าง Dataframe จาก list หลายมิติ

In [17]:
data1 = [['คีย์บบอร์ด','อุปกรณ์คอม',1200],['ตุ๊กตา','ของเล่น',900],['Iphone 12','มือถือ',30000]] 
col1 = ['Name','Category','Price']
df1 = pd.DataFrame(data1,columns=col1)
df1

         Name    Category  Price
0  คีย์บบอร์ด  อุปกรณ์คอม   1200
1      ตุ๊กตา     ของเล่น    900
2   Iphone 12      มือถือ  30000

### การสร้าง Dataframe จาก list ด้วย zip
กาารบีบอัดข้อมูล การนำ list ที่มีลักษณะคล้ายคลีงกันเอามารวมกันในกลุ่มๆหนึ่ง แล้วนำกลุ่มทั้งหมดไปวร้างตาราง

In [18]:
name = ['คีย์บบอร์ด','ตุ๊กตา','Iphone 12']
Category	= ['อุปกรณ์คอม','ของเล่น','มือถือ']
Price = ['1200','900','30000']
datas = list(zip(name,Category,Price))
cols = ['ชื่อสินค้า','หมวดหมู่','ราคา']
df2 = pd.DataFrame(datas,columns=cols)
df2

   ชื่อสินค้า    หมวดหมู่   ราคา
0  คีย์บบอร์ด  อุปกรณ์คอม   1200
1      ตุ๊กตา     ของเล่น    900
2   Iphone 12      มือถือ  30000

### การสร้าง Dataframe จาก dictionary
- key เป็นคอลัมน์
- value เป็นแถว

In [19]:
datas1 = [{'Name':'คีย์บอร์ด','Category':'อุปกรณ์คอม','Price':1200},{'Name':'ตุ๊กตา','Category':'ของเล่น','Price':800},{'Name':'Iphone 12','Category':'มือถือ','Price':30000}]
df3 = pd.DataFrame(datas1)
df3

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม   1200
1     ตุ๊กตา     ของเล่น    800
2  Iphone 12      มือถือ  30000

In [20]:
df3.set_index(['Name'],inplace=True) # เปลี่ยน index เป็นคอลัมน์ Name

In [21]:
df3

             Category  Price
Name
คีย์บอร์ด  อุปกรณ์คอม   1200
ตุ๊กตา        ของเล่น    800
Iphone 12      มือถือ  30000

### การสร้าง Dataframe จาก series

In [22]:
Name = ['คีย์บบอร์ด','ตุ๊กตา','Iphone 12']
Category	= ['อุปกรณ์คอม','ของเล่น','มือถือ']
Price = ['1200','900','30000']

name_s = pd.Series(Name)
category_s = pd.Series(Category)
price_s = pd.Series(Price)

fram = {'Name':name_s,'Category':category_s,'Price':price_s}
df4 = pd.DataFrame(fram)
df4

         Name    Category  Price
0  คีย์บบอร์ด  อุปกรณ์คอม   1200
1      ตุ๊กตา     ของเล่น    900
2   Iphone 12      มือถือ  30000

## Panel
 Panel เป็นโครงสร้างข้อมูลแบบ 3 มิติ เป็นการนำ Dataframe หลาย ๆ อัน มาซ้อนกันจนเกิดเป็นชั้นหลายๆชั้น ประกอบไปด้วย 3 แกน
 - แกนที่ 0 Dataframe
 - แกนที่ 1 แถวหรือ Index ของแต่ละ Dataframe
 - แกนที่ 2 คอลัมน์ของแต่ละ Dataframe

# Load data

## แบบที่ 1 CSV

In [23]:
import pandas as pd

In [24]:
#1
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [25]:
unit = pd.read_csv('/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [26]:
#2
#เชื่อม google drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/BPDV65')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/BPDV65

In [28]:
!ls

myunit.csv			 opendata_unittype_clean.csv
myunit.xlsx			 opendata_unittype.csv
opendata_eating_score_clean.csv  opendata_volume_listing_rent.csv
opendata_eating_score.csv	 Residental_clean.csv
opendata_living_score_clean.csv  Residental_clean.gsheet
opendata_living_score.csv	 thai.json
opendata_project_clean.csv	 Weather.csv
opendata_project.csv

In [29]:
#open CSV file 
import pandas as pd

In [30]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...

In [183]:
opendata_project.shape

(23434, 45)

In [143]:
#3 upload data to colab
project = pd.read_csv('opendata_project.csv')
project.head() #คำสั่ง .head() เรียกดู แถวต้นๆ

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

## แบบที่ 2 exel/sheet

In [32]:
# sheet

import pandas as pd
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [33]:
gsht = gc.open_by_key('1jIF55aFmr8rqqK7dBMXoyA71TWlHdIiiQAa0p1Dr794')
worksheet = gsht.worksheet('บ้าน')

In [34]:
rows = worksheet.get_all_values()
home = pd.DataFrame.from_records(rows)

In [35]:
home.head(3)

,0,1,2,3,4,5,6,7,8
0,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
1,01,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000,"5,000-15,000",,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
2,02,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน

## แบบที่ 3 json

In [36]:
import pandas as pd
import json

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
with open('/content/drive/MyDrive/dpdm/7-eleven.json') as json_file:
  this_json = json.loads(json_file.read())

In [39]:
list(this_json.keys())[:10]

['1', '4', '6', '7', '9', '11', '16', '17', '18', '19']

In [40]:
len(this_json)

3653

# ตรวจสอบข้อมูล

In [41]:
unit.head() # 5 แถวแรก

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [42]:
unit.tail() # 5 แถวท้าย

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [43]:
unit.sample() # สุ่มจำนวนแถว

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
9368,19628,unittype_27739,project_11299,Studio,2,Condo,คอนโด,NaN,25.0,995000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:41:34,2020-10-14 01:09:54,baania,https://baania.com/th/project/เรด-สตาร์-ฮิลล์-...

In [44]:
unit.describe()# ดูค่าทางสถิติ

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [45]:
unit.shape #นับจำนวนข้อมูล

(42625, 27)

In [46]:
unit.columns #ดูมีคอลัมน์อะไรบ้าง

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [47]:
unit.values #อ่านข้อมูลแบบ Array

array([[27501, 'unittype_9565', 'project_2446', ...,
        '2021-11-19 17:44:45', 'baania',
        'https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาดพร้าว-วังหิน-79-2446/2-bedroom-unittype_9565'],
       [28777, 'unittype_10267', 'project_3543', ...,
        '2022-01-27 14:22:55', 'baania',
        'https://baania.com/th/project/เซน-บาย-ศิวาลัย-3543/บ้านแฝดสองชั้น-z-2-unittype_10267'],
       [28865, 'unittype_471', 'project_143', ..., '2022-01-14 14:40:04',
        'baania',
        'https://baania.com/th/project/วันพลัส-นายน์ทีน-143/1-bedroom-type-b-unittype_471'],
       ...,
       [41009, '617bde1687dd2300149d2195', '617bdd47f62011001350de07',
        ..., '2021-10-29 18:43:09', 'baania',
        'https://baania.com/th/project/เดอะริคโค้-ทาวน์-พหลโยธิน-วัชรพล-617bdd47f62011001350de07/grande-617bde1687dd2300149d2195'],
       [9333, 'unittype_37375', 'project_16389', ...,
        '2020-10-14 19:30:46', 'baania',
        'https://baania.com/th/project/ณรงค์กิจ-รามอินทรา-16389/บ้านเดี่ยวชั้นเดียว-unittype_37375'],
       [780, 'unittype_17011', 'project_6762', ...,
        '2020-10-14 00:41:39', 'baania',
        'https://baania.com/th/project/วราสิริ-รังสิต-ดอนเมือง-6762/บ้านธารา-unittype_17011']],
      dtype=object)

# ชี้ค่าในตาราง

In [48]:
unit['propertytype_name_th']

0           คอนโด
1         บ้านแฝด
2           คอนโด
3           คอนโด
4        ทาวน์โฮม
           ...
42620        บ้าน
42621        บ้าน
42622    ทาวน์โฮม
42623        บ้าน
42624        บ้าน
Name: propertytype_name_th, Length: 42625, dtype: object

In [49]:
unit['propertytype_name_th'][4]

'ทาวน์โฮม'

In [50]:
unit[unit.price_min>=50000]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/บ้านศุธาวัลย์-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [51]:
unit[unit.price_min<500000]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
34,23009,unittype_17024,project_6767,1 Bedroom,2,Condo,คอนโด,NaN,22.0,240000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:35,2020-10-14 01:05:48,baania,https://baania.com/th/project/สุขเจริญเพลซ-676...
62,24511,unittype_11045,project_3837,Studio,2,Condo,คอนโด,NaN,26.0,270000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:51,2021-03-08 13:40:32,baania,https://baania.com/th/project/มหาทรัพย์คอนโดทา...
202,16380,5ed0b52f61c7140012c4d6d1,5ed0b4d961c7140012c4d6ce,1 Bedroom,2,Condo,คอนโด,NaN,24.0,250000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:03,2020-10-14 20:16:05,baania,https://baania.com/th/project/พิศาล-คอนโดมิเนี...
319,138,unittype_19415,project_7746,"Studio Tower 1,2 Floor 10-12",2,Condo,คอนโด,NaN,21.0,274000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:44,2020-10-14 01:06:46,baania,https://baania.com/th/project/ดอนเจดีย์แมนชั่น...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42149,24207,unittype_17426,project_4776,Studio Floor 2 Tower 1-39,2,Condo,คอนโด,NaN,33.0,363000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:19,2020-10-14 01:01:35,baania,https://baania.com/th/project/บ้านเอื้ออาทรนนท...
42290,35280,unittype_5288,project_1768,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,380000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:39:12,2020-10-14 00:54:21,baania,https://baania.com/th/project/บ้านธรรมานุสสติ-...
42332,8513,unittype_37189,project_16107,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,20.0,NaN,478000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:24:05,2020-10-14 22:20:38,baania,https://baania.com/th/project/เคหะชุมชนระยอง-ก...
42365,28235,unittype_5205,project_1716,1 Bedroom,2,Condo,คอนโด,NaN,30.0,340000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:52,baania,https://baania.com/th/project/สีมาคอนโดทาวน์-1...
42464,23929,unittype_18429,project_3885,1 Bedroom Floor 5-6,2,Condo,คอนโด,NaN,24.0,186000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:57,2020-10-14 00:58:02,baania,https://baania.com/th/project/เมืองนนท์คอนโดมิ...

In [52]:
unit[unit.propertytype_name_en == 'Twin house']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
81,39468,unittype_28930,project_10164,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,130.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:29:27,2021-01-25 13:48:17,baania,https://baania.com/th/project/โอ-พี-แลนด์-1016...
107,40460,60f54b0c41c1f20014ccffb1,60f54a72c757f20014f9d98d,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,120.0,3690000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:33:36,2021-07-19 16:52:43,baania,https://baania.com/th/project/สองเรา-รังสิต-60...
118,21898,unittype_6874,project_2286,ศุภกัลยา,20000,Twin house,บ้านแฝด,NaN,122.0,2890000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:27:23,2021-01-07 10:41:53,baania,https://baania.com/th/project/ศุภาลัย-วิลล์-วง...
127,3301,unittype_7010,project_2331,Bequem,20000,Twin house,บ้านแฝด,NaN,210.0,11900000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:36,2021-03-02 10:45:16,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ราช...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42534,11307,unittype_34383,project_14794,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:23:57,2020-10-14 22:14:46,baania,https://baania.com/th/project/หัวหิน-เมาน์เท่น...
42543,15777,5eb0fc490763af0019fc34a1,5eafedf268253d0012adc91c,บ้านไอริส,20000,Twin house,บ้านแฝด,NaN,130.0,1490000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:18:25,2020-05-06 09:46:34,baania,https://baania.com/th/project/สุขภิรมย์-บ้านน้...
42559,41726,62064027591c4600138e62fb,600001780b458100134e49cb,Twin Stylist,20000,Twin house,บ้านแฝด,NaN,95.0,1990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-11 18:30:06,2022-02-11 17:54:38,baania,https://baania.com/th/project/เดอะ-ริคโค่-ขอนแ...
42581,9540,unittype_26642,project_10725,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,145.0,2050000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:05,2020-10-14 00:35:09,baania,https://baania.com/th/project/ชาโตเดล-10725/บ้...
42600,7080,unittype_35335,project_2301,Chestnut,20000,Twin house,บ้านแฝด,NaN,142.0,4390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:31,2021-02-22 10:57:57,baania,https://baania.com/th/project/คาซ่า-วิลล์-บางใ...

In [53]:
unit.loc[(unit.propertytype_name_en == 'Twin house') & (unit.price_min<1000000)]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
825,15251,5e9d26419f161600121b602a,5e9d25c39f161600121b6028,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,93.0,990000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:18:14,2020-04-20 14:08:08,baania,https://baania.com/th/project/โฮม-เซเว่น-5e9d2...
1133,40058,6070286fca1e9b0013db1b92,60702450ca1e9b0013db1b8c,คามีเลีย,20000,Twin house,บ้านแฝด,NaN,76.4,179000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:31:22,2021-04-09 17:16:55,baania,https://baania.com/th/project/พฤกษากาญจน์-วิลเ...
4646,41643,61fb7c520ffdb300136d1d61,61fb7bc31851bf00150645d8,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,151.0,299000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-03 14:30:03,2022-02-03 14:07:06,baania,https://baania.com/th/project/กรีนเฮ้าส์-พุทธม...
7110,22714,unittype_4385,project_1435,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,NaN,670000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:38:52,2020-10-14 00:52:46,baania,https://baania.com/th/project/บ้านเอื้ออาทรลำพ...
7281,30519,unittype_27454,project_11148,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,57.0,950000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:13,2020-10-14 00:35:59,baania,https://baania.com/th/project/บ้านฉัตรทองวิลล่...
10886,11604,unittype_30322,project_12801,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,60.0,900000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2020-12-04 10:44:25,2020-10-14 21:27:20,baania,https://baania.com/th/project/บ้านอนันธารา-ลำล...
11235,27263,unittype_1405,project_688,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,78.0,840000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:46,2020-10-14 00:39:27,baania,https://baania.com/th/project/บ้านปิยะวดี-688/...
11243,39064,unittype_35248,project_15127,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,54.0,509000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:26:44,2021-01-04 15:28:46,baania,https://baania.com/th/project/บ้านเอื้ออาทร-จั...
12122,29395,unittype_19179,project_7695,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,88.0,890000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:37:38,2020-10-14 00:44:55,baania,https://baania.com/th/project/บ้านคู่ขวัญหรรษา...
12423,30542,unittype_27976,project_11431,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,49.0,864000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:36:19,2020-10-14 00:36:38,baania,https://baania.com/th/project/บ้านธนาวัลย์-2-1...
12581,28745,unittype_4159,project_1361,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,NaN,770000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:38:36,2020-10-14 00:51:06,baania,https://baania.com/th/project/บ้านธนภูมิวิลลา-...
15048,15649,5ea9402268253d0012adc246,5ea93e7168253d0012adc233,Hokkaido,20000,Twin house,บ้านแฝด,NaN,74.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:18:43,2020-06-24 17:07:11,baania,https://baania.com/th/project/วิรินดา-3-5ea93e...
15084,39209,unittype_34625,project_14923,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,120.0,608000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:33:11,2020-06-25 12:10:09,baania,https://baania.com/th/project/บ้านเอื้ออาทรสมุ...
16534,14623,5e859b63e146a400123ef2c8,5e859acfe146a400123ef2c5,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,NaN,750000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:18:37,2020-06-18 14:32:05,baania,https://baania.com/th/project/เคหะชุมชนและบริก...
17442,30583,unittype_28079,project_11485,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,80.0,965000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:21,2020-10-14 00:36:47,baania,https://baania.com/th/project/ปารียา-พาร์ค-114...
17883,36969,unittype_1886,project_994,บ้านแฝดสองชั้น Type A,20000,Twin house,บ้านแฝด,NaN,NaN,560000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2021-11-12 13:19:37,2020-10-14 00:39:56,baania,https://baania.com/th/project/บ้านเอื้ออาทรจัง...
21449,20226,unittype_1409,project_690,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,NaN,870000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:44:18,2020-10-14 21:19:50,baania,https://baania.com/th/project/บ้านเชียงใหม่วิว...
22640,15683,5eaa8d4d68253d0012adc4f6,5eaa8cfe68253d0012adc4e9,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,NaN,707000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:18:40,2020-06-23 15:48:40,baania,https://baania.com/th/project/โครงการเคหะชุมชน...
23365,3708,unittype_27189,project_11017,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,54.0,499000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:42:52,2020-10-14 20:03:36,baania,https://baania.com/th/project/บ้านสามัคคี-35-1...
24751,516,unittype_15332,project_6033,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,NaN,950000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:40:56,baania,https://baania.com/th/project/บ้านสวนเก้าพัฒนา...
27415,29288,unittype_17178,project_6851,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,NaN,800000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:44:29,2020-10-14 21:32:17,baania,https://baania.com/th/project/บ้านธัญญาพร-1-68...
31025,19565,unittype_28030,project_11458,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,65.0,899000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:20,2020-10-14 00:36:42,baania,https://baania.com/th/project/บ้านนุชนาถ-11458...
31232,4080,unittype_28355,project_11592,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,54.0,900000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:38:18,2020-10-14 00:49:29,baania,https://baania.com/th/project/บ้านบุญรักษา-2-1...
31757,29826,unittype_28659,project_11773,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,66.0,790000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:44:53,2020-10-14 21:59:08,baania,https://baania.com/th/project/กิตติ-แลนด์แอนด์...
33936,19304,5ffbff1a85111e0012890b0b,5ffbfd0c0b07fc001203a5f0,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,73.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2022-04-05 12:30:04,2022-04-05 11:48:44,baania,https://baania.com/th/project/มณีวิลเลจ-4-พลัส...
34803,37615,unittype_30280,project_12771,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,100.0,975000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:58,2020-10-14 21:03:04,baania,https://baania.com/th/project/บ้านทิวตะวัน-127...
35025,535,unittype_16462,project_6491,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,NaN,120.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:37:06,2020-10-14 00:41:23,baania,https://baania.com/th/project/บ้านปิยะแลนด์-64...
37910,9008,unittype_37802,project_16578,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,22.0,NaN,900000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:20:22,2020-10-14 00:53:56,baania,https://baania.com/th/project/บ้านฟ้าใส-1-1657...
38080,33584,unittype_28045,project_11470,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,65.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:56,2020-10-14 20:07:58,baania,https://baania.com/th/project/บ้านศุขบุรี-ยิ่ง...
38650,27213,unittype_2937,project_994,บ้านแฝดสองชั้น Type B,20000,Twin house,บ้านแฝด,NaN,NaN,640000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:36:50,2020-10-14 00:39:56,baania,https://baania.com/th/project/บ้านเอื้ออาทรจัง...
39427,14557,5e8407cce146a400123ef00e,5e8406aae146a400123ef00c,บ้านมั่งมี,20000,Twin house,บ้านแฝด,NaN,54.0,999000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-28 14:30:04,2020-12-28 14:14:58,baania,https://baania.com/th/project/ชลลธร-2-5e8406aa...
40373,14625,5e859770e146a400123ef2bc,5e85952ae146a400123ef2ae,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,NaN,999000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:25:26,2020-11-11 14:48:19,baania,https://baania.com/th/project/ชลลธร-1-5e85952a...
42174,14669,5e86e5135f777e0012d06b9d,5e86e49f5f777e0012d06b99,บ้านแฝดชั้นเดียว,20000,Twin house,บ้านแฝด,NaN,80.0,999000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:18:22,2020-04-30 10:55:45,baania,https://baania.com/th/project/พุทธรักษา-การ์เด...
42332,8513,unittype_37189,project_16107,บ้านแฝดสองชั้น,20000,Twin house,บ้านแฝด,20.0,NaN,478000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:24:05,2020-10-14 22:20:38,baania,https://baania.com/th/project/เคหะชุมชนระยอง-ก...

In [54]:
unit.loc[(unit.propertytype_name_en == 'Condo') | (unit.price_min<1000000)]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
8,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type C,1,Detached House,บ้าน,NaN,80.0,990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-23 12:00:12,2022-02-23 11:14:31,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,คอนโด,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/ซิตี้โฮม-รัตนาธิ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42590,23548,unittype_15279,project_3976,1 Bedroom Tower 1 Floor 5-6,2,Condo,คอนโด,NaN,33.0,989000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:01,2020-10-14 00:58:25,baania,https://baania.com/th/project/เดอะ-สตาร์-คอนโด...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,คอนโด,NaN,94.0,6345000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 11:00:11,2022-01-14 10:32:44,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,คอนโด,NaN,34.0,3120000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:25:14,2020-10-27 15:03:40,baania,https://baania.com/th/project/ศุภาลัย-ไลท์-รัช...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,คอนโด,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/พลัส-คอนโด-โคราช...

## ดูว่าคอลัมน์มีสมาชิกอะไรบ้าง

In [55]:
column_values = unit['propertytype_name_en'].unique()
print(column_values)

['Condo' 'Twin house' 'Townhome' 'Detached House' 'Commercial'
 'Home office' 'Apartment' 'Land' 'Office Space' 'Hotel'
 'Warehouse / Factory']

In [56]:
# .isin ลดรูปสำหรับใช้กับ or หลายเงื่อนไข 
unit.loc[(unit.price_min.isin([500000,850000,1200000]))][unit.propertytype_name_en == 'Condo']

<ipython-input-56-d89d2ea06175>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  unit.loc[(unit.price_min.isin([500000,850000,1200000]))][unit.propertytype_name_en == 'Condo']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
96,4564,unittype_8077,project_2722,2 Bedroom,2,Condo,คอนโด,NaN,45.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:26:39,2020-12-28 11:47:38,baania,https://baania.com/th/project/ลุมพินี-วิลล์-รา...
128,41076,61835efeb9424100136bb399,61835ea1b9424100136bb395,1 Bedroom,2,Condo,คอนโด,NaN,30.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-06 10:30:04,2022-05-05 18:51:11,baania,https://baania.com/th/project/เทอร์ร่า-เรสซิเด...
853,8955,unittype_37556,project_15956,1 Bedroom,2,Condo,คอนโด,NaN,29.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:57,2021-03-12 17:11:20,baania,https://baania.com/th/project/ซูม-คอนโด-เพลส-1...
1449,16618,5edde701dda791001299af36,5edde687dda791001299af24,1 Bedroom,2,Condo,คอนโด,NaN,32.0,850000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:24:35,2020-10-16 16:25:31,baania,https://baania.com/th/project/เพลิน-เพลิน-คอนโ...
1610,28061,unittype_14145,project_5610,Studio,2,Condo,คอนโด,NaN,25.0,500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:25,2020-10-14 01:03:20,baania,https://baania.com/th/project/เพรสซิเด้นท์คอนโ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37820,26994,unittype_14086,project_5580,Studio,2,Condo,คอนโด,NaN,32.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:25,2020-10-14 01:03:14,baania,https://baania.com/th/project/ป-ธนาทาวเวอร์-55...
38106,3384,unittype_30489,project_9493,2 Bedroom,2,Condo,คอนโด,NaN,42.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:28:47,2021-01-13 15:16:48,baania,https://baania.com/th/project/ลุมพินี-คอนโดทาว...
38285,25001,unittype_11533,project_4117,1 Bedroom,2,Condo,คอนโด,NaN,33.0,500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/บ้านเอื้ออาทร-รา...
38762,11890,unittype_31411,project_13240,1 Bedroom,2,Condo,คอนโด,NaN,30.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:28:37,2021-01-13 11:36:22,baania,https://baania.com/th/project/ภัสสรสิริ-คอนโดม...
38797,15781,5eb10a98dde4700019210292,5eb109cfdde470001921027c,1 Bedroom,2,Condo,คอนโด,NaN,28.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2022-03-01 17:00:08,2022-03-01 16:29:46,baania,https://baania.com/th/project/เดอะ-ริช-คอนโด-ม...

### .iloc

In [57]:
unit.iloc[4,6] #row,col

'ทาวน์โฮม'

## ค้นหาข้อมุล match(string) & contains(string)
- match(string) ค้นด้วยอักขระตัวแรกหรื่อทั้งคำ
-  contains(string) ค้นอัก๘ระที่มีในคำ

In [58]:
unit[unit.propertytype_name_th.str.match('บ้าน')]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
7,1666,unittype_14501,project_5799,บ้านเดี่ยวสองชั้น Type A,1,Detached House,บ้าน,NaN,NaN,3300000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:59,2020-10-14 00:40:37,baania,https://baania.com/th/project/บ้านชัยพฤกษ์-บาง...
8,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type C,1,Detached House,บ้าน,NaN,80.0,990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-23 12:00:12,2022-02-23 11:14:31,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
9,34458,unittype_34564,project_14884,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:13,2020-10-14 22:16:17,baania,https://baania.com/th/project/บ้านลีลาวดี-บ้าน...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,บ้าน,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/เศรษฐสิริ-แจ้งวั...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [59]:
unit[unit.propertytype_name_th.str.contains('ด')]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,คอนโด,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/ซิตี้โฮม-รัตนาธิ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42600,7080,unittype_35335,project_2301,Chestnut,20000,Twin house,บ้านแฝด,NaN,142.0,4390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:31,2021-02-22 10:57:57,baania,https://baania.com/th/project/คาซ่า-วิลล์-บางใ...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,คอนโด,NaN,94.0,6345000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 11:00:11,2022-01-14 10:32:44,baania,https://baania.com/th/project/เดอะ-ยูนีค-คอนโด...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,คอนโด,NaN,34.0,3120000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:25:14,2020-10-27 15:03:40,baania,https://baania.com/th/project/ศุภาลัย-ไลท์-รัช...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,คอนโด,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/เดอะ-ไลน์-สาทร-1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,คอนโด,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/พลัส-คอนโด-โคราช...

# การลูปข้อมูล (iterrow)

In [60]:
# basic
for idx,row in unit.head(20).iterrows():
  print(idx,row.propertytype_name_th,row.price_min)

0 คอนโด 2500000.0
1 บ้านแฝด 2390000.0
2 คอนโด nan
3 คอนโด 170000.0
4 ทาวน์โฮม 2390000.0
5 บ้าน 11700000.0
6 อาคารพาณิชย์ 2990000.0
7 บ้าน 3300000.0
8 บ้าน 990000.0
9 บ้าน nan
10 คอนโด 1116000.0
11 บ้าน 36900000.0
12 ทาวน์โฮม nan
13 ทาวน์โฮม nan
14 คอนโด 1700000.0
15 ทาวน์โฮม 1590000.0
16 บ้าน 2200000.0
17 คอนโด 4008000.0
18 อาคารพาณิชย์ 2700000.0
19 บ้าน nan

In [61]:
for row in unit.head(3).iterrows():
    print(row)

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)
(2, row_number                                                          28865
unittype_id                                                  unittype_471
project_id                                                    project_143
name_th                                                  1 Bedroom Type B
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      28.0
price_min                                                             NaN
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        1.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-14 15:00:10
date_updated                                          2022-01-14 14:40:04
source                                                             baania
url_unittype            https://baania.com/th/project/วันพลัส-นายน์ทีน...
Name: 2, dtype: object)

In [62]:
for row in unit.head(10).iterrows(): #วนซ้ำ 10 แถวแรกของ DataFrame
    if 'project_' not in row[1]['project_id']: #ตรวจสอบว่า ไม่มีสตริง อยู่ใน project_id #เข้าถึงrow[1]['project_id']ค่าในproject_idคอลัมน์สำหรับแถวปัจจุบัน
        print(row)

(8, row_number                                                          41823
unittype_id                                      6215b4a7a441d30014e1f02f
project_id                                       6215b1cfc1620300140bc087
name_th                                        บ้านเดี่ยวชั้นเดียว Type C
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th                                                 บ้าน
area_total_min_wa                                                     NaN
area_usable_min                                                      80.0
price_min                                                        990000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         1.0
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-23 12:00:12
date_updated                                          2022-02-23 11:14:31
source                                                             baania
url_unittype            https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
Name: 8, dtype: object)

In [63]:
for row in unit.head(2).iterrows():
    print(row)
    print('จำนวนสมาชิก ',len(row))
    print('สมาชิกตัวที่ 1 ',row[0])
    print('สมาชิกตัวที่ 2 ',row[1])

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object)
จำนวนสมาชิก  2
สมาชิกตัวที่ 1  0
สมาชิกตัวที่ 2  row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th                                                คอนโด
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
Name: 0, dtype: object
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object)
จำนวนสมาชิก  2
สมาชิกตัวที่ 1  1
สมาชิกตัวที่ 2  row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                บ้านแฝดสองชั้น Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th                                              บ้านแฝด
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
Name: 1, dtype: object

รหัสนี้จะวนซ้ำ 2 แถวแรกของ DataFrame unitพิมพ์แต่ละแถว ความยาวของแถว (จำนวนคอลัมน์) ค่าขององค์ประกอบแรก ( row[0]ซึ่งแสดงถึงดัชนี) และค่าขององค์ประกอบที่สอง ( row[1]ซึ่ง แสดงถึงวัตถุ Series ที่มีข้อมูลแถว)

# Table slicing

## ตัดมาเฉพาะ column ที่ต้องการ

In [64]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [65]:
data_project = project[['propertytype_name_en', 'propertytype_name_th','price_min']]
data_project

      propertytype_name_en propertytype_name_th  price_min
0           Detached House                 บ้าน  3790000.0
1                    Condo                คอนโด  1100000.0
2                 Townhome             ทาวน์โฮม        0.0
3           Detached House                 บ้าน        0.0
4                 Townhome             ทาวน์โฮม  1930000.0
...                    ...                  ...        ...
23429             Townhome             ทาวน์โฮม  5700000.0
23430             Townhome             ทาวน์โฮม  3590000.0
23431           Commercial         อาคารพาณิชย์  1870000.0
23432       Detached House                 บ้าน  4000000.0
23433       Detached House                 บ้าน  2800000.0

[23434 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [66]:
project.iloc[1:5,:]

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

```pddf```[list_of_logical_values] คือการเลือก row ที่ logical values เป็น True

In [67]:
project['propertytype_name_th']

0                บ้าน
1               คอนโด
2            ทาวน์โฮม
3                บ้าน
4            ทาวน์โฮม
             ...
23429        ทาวน์โฮม
23430        ทาวน์โฮม
23431    อาคารพาณิชย์
23432            บ้าน
23433            บ้าน
Name: propertytype_name_th, Length: 23434, dtype: object

In [68]:
project[project['propertytype_name_th']=='อาคารพาณิชย์']

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
13,13621.0,60596713423c910014e3e723,The Master @BTS Onnut - Pattanakarn,เดอะ มาสเตอร์ @บีทีเอส อ่อนนุช - พัฒนาการ,4,Commercial,อาคารพาณิชย์,11000000.0,developer_5743,NaN,...,NaN,1.0,NaN,NaN,1.0,2021-03-23 10:57:07,2023-01-01 07:00:00,2021-03-23 15:30:04,baania,https://baania.com/th/project/เดอะ-มาสเตอร์-บี...
14,2492.0,project_8912,Arkanpanich Bang Kruai - Sai Noi,อาคารพาณิชย์ บางกรวย-ไทรน้อย,4,Commercial,อาคารพาณิชย์,5500000.0,developer_10510,NaN,...,NaN,1.0,NaN,NaN,1.0,2017-07-17 13:57:11,2017-12-31 07:00:00,2020-12-04 10:47:13,baania,https://baania.com/th/project/อาคารพาณิชย์-บาง...
33,22131.0,project_13196,The Tuscany Ratchadamnoen,เดอะ ทัสคานี่ ราชดำเนิน,4,Commercial,อาคารพาณิชย์,3190000.0,developer_8412,"Adara Group Co., Ltd.",...,0.0,1.0,1.0,1.0,1.0,2018-05-09 14:57:09,2017-12-31 07:00:00,2020-12-04 10:30:17,baania,https://baania.com/th/project/เดอะ-ทัสคานี่-รา...
88,4428.0,project_11464,K P Property Nong Prue-Krua Sahaphat,เค ซี พร็อพเพอร์ตี้ หนองปรือ-เครือสหพัฒน์,4,Commercial,อาคารพาณิชย์,1590000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2017-11-02 15:10:34,1970-01-02 07:00:00,2020-12-04 10:36:20,baania,https://baania.com/th/project/เค-ซี-พร็อพเพอร์...
100,23111.0,project_13943,Baan Chalongsuk Phuket,บ้านฉลองสุข ภูเก็ต,4,Commercial,อาคารพาณิชย์,2690000.0,developer_8893,"Baan Charungklin Co,.Ltd.",...,NaN,NaN,NaN,NaN,1.0,2018-06-22 09:31:14,2013-12-31 07:00:00,2020-12-04 10:38:43,baania,https://baania.com/th/project/บ้านฉลองสุข-ภูเก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23341,2214.0,project_15166,Baan Suan Sarakham 1,บ้านสวนสารคาม 1,4,Commercial,อาคารพาณิชย์,890000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2019-01-10 10:43:14,1970-01-02 07:00:00,2020-12-04 10:39:03,baania,https://baania.com/th/project/บ้านสวนสารคาม-1-...
23397,10652.0,project_11163,Sunisa Place Condo,สุนิสา เพลส คอนโด,4,Commercial,อาคารพาณิชย์,1200000.0,developer_7221,NaN,...,0.0,0.0,0.0,1.0,1.0,2017-10-25 09:32:38,1970-01-02 07:00:00,2020-12-04 10:36:13,baania,https://baania.com/th/project/สุนิสา-เพลส-คอนโ...
23422,15130.0,project_17150,Baan Puttaraksa Saiwutphaderm-Ban Thung Bia,บ้านพุทธรักษา สายวัดประเดิม-บ้านทุ่งเบี้ย,4,Commercial,อาคารพาณิชย์,2490000.0,developer_2332,Apasiri Group,...,0.0,0.0,0.0,0.0,1.0,2020-01-16 13:09:08,2014-12-31 07:00:00,2020-12-04 10:34:57,baania,https://baania.com/th/project/บ้านพุทธรักษา-สา...
23428,8894.0,project_12905,J Business Center,เจ บิสซิเนส เซ็นเตอร์,4,Commercial,อาคารพาณิชย์,7299000.0,developer_5736,"Ornsirin Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,NaN,2018-01-22 10:07:46,2014-06-30 07:00:00,2021-04-05 11:00:04,baania,https://baania.com/th/project/เจ-บิสซิเนส-เซ็น...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...

การชี้ค่าในตารางด้วย project[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [69]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [70]:
ten_rows_project = project.iloc[:10,1:8] # ตารางตัวอย่าง
ten_rows_project

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0
5,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0
6,5e86f32e5f777e0012d06c04,Setthasiri Lampang 2,เศรษฐศิริ ลำปาง 2,3,Townhome,ทาวน์โฮม,990000.0
7,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0
8,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0
9,61f23ca025ee250014de37f7,Baan Koonpachai,บ้านขุนพิชัย,1,Detached House,บ้าน,2390000.0

In [71]:
ten_rows_project[[True,False,True,True,False,True,False,False,True,False]]   #2. ใส่ list ที่ มีค่า logic ของ แต่ละ row โดยที่ ค่า True คือ เลือก , ค่า False คือไม่เลือก

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0
5,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0
8,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0

In [72]:
ten_rows_project1=ten_rows_project['propertytype_name_en'] == 'Detached House'  #สร้าง list ของ logical expression
ten_rows_project1

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7     True
8    False
9     True
Name: propertytype_name_en, dtype: bool

In [73]:
ten_rows_project[ten_rows_project1]  #เราเอา 2 บรรทัดบนมาบวกกัน

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0
7,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0
9,61f23ca025ee250014de37f7,Baan Koonpachai,บ้านขุนพิชัย,1,Detached House,บ้าน,2390000.0

# การจัดเรียงข้อมูลตาม index & value

In [74]:
result = data_project.sort_values('price_min') # เรียงจากน้อยไปมาก
result

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                 บ้าน       0.0
18601       Detached House                 บ้าน       0.0
18602       Detached House                 บ้าน       0.0
2704        Detached House                 บ้าน       0.0
10898       Detached House                 บ้าน       0.0
...                    ...                  ...       ...
22574       Detached House                 บ้าน       NaN
22616       Detached House                 บ้าน       NaN
22874             Townhome             ทาวน์โฮม       NaN
23131           Commercial         อาคารพาณิชย์       NaN
23323             Townhome             ทาวน์โฮม       NaN

[23434 rows x 3 columns]

# การเพิ่มแถวและคอลัมน์

In [75]:
#เพิ่มคอลัมน์
result['price_max']=10000000
result

      propertytype_name_en propertytype_name_th price_min  price_max
22747       Detached House                 บ้าน       0.0   10000000
18601       Detached House                 บ้าน       0.0   10000000
18602       Detached House                 บ้าน       0.0   10000000
2704        Detached House                 บ้าน       0.0   10000000
10898       Detached House                 บ้าน       0.0   10000000
...                    ...                  ...       ...        ...
22574       Detached House                 บ้าน       NaN   10000000
22616       Detached House                 บ้าน       NaN   10000000
22874             Townhome             ทาวน์โฮม       NaN   10000000
23131           Commercial         อาคารพาณิชย์       NaN   10000000
23323             Townhome             ทาวน์โฮม       NaN   10000000

[23434 rows x 4 columns]

In [76]:
#เพิ่มแถว
a = [['Detached House','บ้าน',850000,10000000],
     ['Townhome','ทาวน์โฮม',1000000,10000000]]
col = ['propertytype_name_en','propertytype_name_th','price_min','price_max']
newproject = pd.DataFrame(data=a,columns=col)
newproject

  propertytype_name_en propertytype_name_th  price_min  price_max
0       Detached House                 บ้าน     850000   10000000
1             Townhome             ทาวน์โฮม    1000000   10000000

In [77]:
newproject = result.append(newproject) #append เพิ่มแถว/ข้อมูล
newproject

<ipython-input-77-eddaec8cd948>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newproject = result.append(newproject) #append เพิ่มแถว/ข้อมูล

      propertytype_name_en propertytype_name_th price_min  price_max
22747       Detached House                 บ้าน       0.0   10000000
18601       Detached House                 บ้าน       0.0   10000000
18602       Detached House                 บ้าน       0.0   10000000
2704        Detached House                 บ้าน       0.0   10000000
10898       Detached House                 บ้าน       0.0   10000000
...                    ...                  ...       ...        ...
22874             Townhome             ทาวน์โฮม       NaN   10000000
23131           Commercial         อาคารพาณิชย์       NaN   10000000
23323             Townhome             ทาวน์โฮม       NaN   10000000
0           Detached House                 บ้าน    850000   10000000
1                 Townhome             ทาวน์โฮม   1000000   10000000

[23436 rows x 4 columns]

# การลบแถวและคอลัมน์

In [78]:
newproject.head()

      propertytype_name_en propertytype_name_th price_min  price_max
22747       Detached House                 บ้าน       0.0   10000000
18601       Detached House                 บ้าน       0.0   10000000
18602       Detached House                 บ้าน       0.0   10000000
2704        Detached House                 บ้าน       0.0   10000000
10898       Detached House                 บ้าน       0.0   10000000

In [79]:
# ลบคอลัมน์
newproject.drop('price_max',axis=1,inplace=True)
print(newproject)

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                 บ้าน       0.0
18601       Detached House                 บ้าน       0.0
18602       Detached House                 บ้าน       0.0
2704        Detached House                 บ้าน       0.0
10898       Detached House                 บ้าน       0.0
...                    ...                  ...       ...
22874             Townhome             ทาวน์โฮม       NaN
23131           Commercial         อาคารพาณิชย์       NaN
23323             Townhome             ทาวน์โฮม       NaN
0           Detached House                 บ้าน    850000
1                 Townhome             ทาวน์โฮม   1000000

[23436 rows x 3 columns]

In [80]:
newproject

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                 บ้าน       0.0
18601       Detached House                 บ้าน       0.0
18602       Detached House                 บ้าน       0.0
2704        Detached House                 บ้าน       0.0
10898       Detached House                 บ้าน       0.0
...                    ...                  ...       ...
22874             Townhome             ทาวน์โฮม       NaN
23131           Commercial         อาคารพาณิชย์       NaN
23323             Townhome             ทาวน์โฮม       NaN
0           Detached House                 บ้าน    850000
1                 Townhome             ทาวน์โฮม   1000000

[23436 rows x 3 columns]

**คำสั่ง drop [ axis = 1 คือ คอลัมน์ , axis = 0 คือ แถว]**

In [81]:
# ลบแถวด้วย key
rows =[0,1]
newproject.drop(rows,axis=0,inplace=True)

In [82]:
newproject

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                 บ้าน       0.0
18601       Detached House                 บ้าน       0.0
18602       Detached House                 บ้าน       0.0
2704        Detached House                 บ้าน       0.0
10898       Detached House                 บ้าน       0.0
...                    ...                  ...       ...
22574       Detached House                 บ้าน       NaN
22616       Detached House                 บ้าน       NaN
22874             Townhome             ทาวน์โฮม       NaN
23131           Commercial         อาคารพาณิชย์       NaN
23323             Townhome             ทาวน์โฮม       NaN

[23432 rows x 3 columns]

# เปลี่ยนชื่อคอลัมน์

In [83]:
#เปลี่ยนชื่อ columns
newproject.rename(columns={'propertytype_name_en': 'ชื่อประเภทโครงการ_en', 'propertytype_name_th': 'ชื่อประเภทโครงการ_th','price_min':'ราคาต่ำสุดโครงการ'}, inplace=True)
newproject.head(3)

      ชื่อประเภทโครงการ_en ชื่อประเภทโครงการ_th ราคาต่ำสุดโครงการ
22747       Detached House                 บ้าน               0.0
18601       Detached House                 บ้าน               0.0
18602       Detached House                 บ้าน               0.0

# การจัดการข้อมูลขาดหาย (Missing Value)

## ตรวจสอบ Missing (isnull())

In [84]:
# isnull() ตรวจสอบข้อมุลสูญหาย
newproject.isnull() # True = หาย , False = ครบ

       ชื่อประเภทโครงการ_en  ชื่อประเภทโครงการ_th  ราคาต่ำสุดโครงการ
22747                 False                 False              False
18601                 False                 False              False
18602                 False                 False              False
2704                  False                 False              False
10898                 False                 False              False
...                     ...                   ...                ...
22574                 False                 False               True
22616                 False                 False               True
22874                 False                 False               True
23131                 False                 False               True
23323                 False                 False               True

[23432 rows x 3 columns]

In [85]:
newproject.isnull().any() # หาว่าคอลัมน์ใดมีค่าว่าง

ชื่อประเภทโครงการ_en    False
ชื่อประเภทโครงการ_th    False
ราคาต่ำสุดโครงการ        True
dtype: bool

In [86]:
newproject.isnull().sum() # มีค่าว่างกี่แถว

ชื่อประเภทโครงการ_en      0
ชื่อประเภทโครงการ_th      0
ราคาต่ำสุดโครงการ       117
dtype: int64

## วิธีการจัดการข้อมุลสูญหาย
- แทนที่ด้วยค่าเฉลี่ยข้อมูลทั้งหมด
- แทนที่ด้วยค่าตรงๆที่กำหนดขึ้นมา
- แทนที่ด้วยค่าก่อนหน้า
- แทนที่ด้วยค่าถัดไป
- ลบข้อมูล

In [164]:
#3 upload data to colab
project = pd.read_csv('opendata_project.csv')
project.head() #คำสั่ง .head() เรียกดู แถวต้นๆ

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [165]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [166]:
project.isnull()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23430,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
23431,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23432,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
23433,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False

In [167]:
project.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [168]:
project.isnull().sum()

row_number                    5
project_id                    0
name_en                       0
name_th                       0
propertytype_id               0
propertytype_name_en          0
propertytype_name_th          0
price_min                   117
developer_id                  0
developer_name_en         12654
developer_name_th          8745
latitude                      0
longitude                     5
neighborhood_id            4215
neighborhood_name_en       4214
neighborhood_name_th       4220
subdistrict_id               19
subdistrict_name_en          14
subdistrict_name_th          16
district_id                  10
district_name_en             10
district_name_th             10
province_id                   9
province_name_en             10
province_name_th             10
zipcode                      31
count_elevator            21543
count_elevator_service    22820
count_floor               18718
count_parking             21430
count_tower               23429
count_unit                 1887
count_unittype             4831
facility_clubhouse        16614
facility_fitness          14539
facility_meeting          20544
facility_park             11759
facility_playground       17157
facility_pool             13716
facility_security          7311
date_created                 10
date_finish                2626
date_updated                 10
source                       10
url_project                  10
dtype: int64

### dropna

In [169]:
# ' price_min ' ราคาต่ำสุดโครงการ
print(len(project[project['price_min'].isnull()])) #we used dropna()
project = project.dropna(subset=['price_min'])

117

In [170]:
# ' longitude '
print(len(project[project['longitude'].isnull()]))

5

In [171]:
project = project.dropna(subset=['longitude'])

In [172]:
# 'subdistrict_id' รหัสตำบล
print(len(project[project['subdistrict_id'].isnull()])) 
project = project.dropna(subset=['subdistrict_id'])

13

In [173]:
# 'zipcode' รหัสไปรษณีย์
print(len(project[project['zipcode'].isnull()])) 
project = project.dropna(subset=['zipcode'])

21

In [174]:
project.isnull().any()

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                 False
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created              False
date_finish                True
date_updated              False
source                    False
url_project               False
dtype: bool

In [175]:
project.isnull().sum()

row_number                    0
project_id                    0
name_en                       0
name_th                       0
propertytype_id               0
propertytype_name_en          0
propertytype_name_th          0
price_min                     0
developer_id                  0
developer_name_en         12532
developer_name_th          8639
latitude                      0
longitude                     0
neighborhood_id            4154
neighborhood_name_en       4154
neighborhood_name_th       4154
subdistrict_id                0
subdistrict_name_en           0
subdistrict_name_th           0
district_id                   0
district_name_en              0
district_name_th              0
province_id                   0
province_name_en              0
province_name_th              0
zipcode                       0
count_elevator            21395
count_elevator_service    22667
count_floor               18588
count_parking             21286
count_tower               23278
count_unit                 1839
count_unittype             4754
facility_clubhouse        16532
facility_fitness          14456
facility_meeting          20454
facility_park             11682
facility_playground       17068
facility_pool             13635
facility_security          7240
date_created                  0
date_finish                2565
date_updated                  0
source                        0
url_project                   0
dtype: int64

In [176]:
#แทนที่ด้วยค่าเฉลี่ยข้อมูลทั้งหมด 
project.describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,21439.000000,18524.000000,6746.000000,8822.000000,2824.000000,11596.000000,6210.000000,9643.000000,16038.000000
mean,11714.362402,13.814771,100.599578,4215.141378,3999.677721,3940.412364,28134.091546,199.411633,2.327305,0.730507,0.854001,0.229462,0.898758,0.703704,0.878772,0.962464
std,6764.682445,2.328177,0.945473,2479.548861,1660.037801,1660.901646,24676.986008,320.057773,2.138998,0.443729,0.353125,0.420561,0.301662,0.456660,0.326409,0.190077
min,1.000000,6.839354,97.985808,1007.000000,1006.000000,1005.000000,10002.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5852.250000,13.349972,100.401370,3414.000000,3411.000000,3372.000000,10400.000000,49.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,11716.500000,13.753697,100.601844,3802.000000,3800.000000,3781.000000,20000.000000,108.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17570.750000,13.945754,100.911630,4524.750000,4000.000000,3781.000000,40000.000000,240.000000,3.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,23429.000000,20.442105,105.222114,20688.000000,20003.000000,10508.000000,390000.000000,10074.000000,96.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### fill Null with real world Knownlege

In [129]:
# ใช้กับข้อมูลไม่ได้เพราะ price_min ไม่มีค่า mean
#select = 'price_min'
#project[select] = project[select].fillna(project[select].mean())
#project

In [177]:
#แทนที่ด้วยค่าตรงๆที่กำหนดขึ้นมา
#fill NA with Text
project['developer_name_en'] = project['developer_name_en'].fillna('Unknown')
project['developer_name_th'] = project['developer_name_th'].fillna('ไม่ระบุ')
project['neighborhood_id'] = project['neighborhood_id'].fillna('Unknown') #รหัสย่าน 
project['neighborhood_name_en'] = project['neighborhood_name_en'].fillna('Unknown') 
project['neighborhood_name_th'] = project['neighborhood_name_th'].fillna('ไม่ระบุ') 
project['date_finish'] = project['date_finish'].fillna('ไม่ระบุ')

In [178]:
# จำนวนลิฟต์และชั้น
project[['count_floor', 'count_unit','count_unittype']]  = project[['count_floor', 'count_unit','count_unittype']].fillna(1) #จำนวนชั้นของตัวโครงการ, จำนวนยูนิตในโครงการ, จำนวนแบบ้านในโครงการ
project[['count_elevator','count_floor','count_parking','count_tower', 'count_elevator_service']] = project[['count_elevator','count_floor','count_parking','count_tower', 'count_elevator_service']].fillna(0) 
# สิ่งอำนวยความสะดวก
project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [179]:
project.isnull().any()

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
developer_name_th         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
date_created              False
date_finish               False
date_updated              False
source                    False
url_project               False
dtype: bool

In [151]:
#แทนที่ด้วยค่าก่อนหน้า
#project.fillna(method='pad',inplace=True)
project.fillna(method='pad') # มีผลทุกคอลัมน์

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,ไม่ระบุ,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,ไม่ระบุ,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,0.0,1.0,1.0,0.0,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,0.0,0.0,0.0,0.0,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,0.0,1.0,1.0,0.0,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,0.0,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [152]:
#แทนที่ด้วยค่าถัดไป
#project.fillna(method='bfill',inplace=True)
project.fillna(method='bfill')

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,ไม่ระบุ,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,ไม่ระบุ,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,0.0,1.0,1.0,0.0,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,0.0,0.0,0.0,0.0,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,0.0,1.0,1.0,0.0,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,0.0,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

# ต่อตาราง

## ต่อตารางแกน X แกน y


*   ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)
*   ต่อแกน x คือ เพิ่ม columns (เพิ่มรายละเอียดของข้อมูล)

### ต่อแกน Y pd.concat()

In [180]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [181]:
project.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,ไม่ระบุ,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,ไม่ระบุ,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [182]:
project.shape

(23278, 45)

#### ดูว่าคอลัมน์ประกอบด้วยสมาชิกอะไรบ้าง

In [188]:
column_values = project['propertytype_name_th'].unique()
print(column_values)

['บ้าน' 'คอนโด' 'ทาวน์โฮม' 'อาคารพาณิชย์' 'โฮมออฟฟิศ' 'บ้านแฝด' 'โรงแรม'
 'อพาตเมนต์' 'สำนักงาน' 'ที่ดิน' 'โกดัง / โรงงาน']

In [189]:
column_values = project['propertytype_name_en'].unique()
print(column_values)

['Detached House' 'Condo' 'Townhome' 'Commercial' 'Home office'
 'Twin house' 'Hotel' 'Apartment' 'Office Space' 'Land'
 'Warehouse / Factory']

In [184]:
project['propertytype_name_th']=='บ้าน'

0         True
1        False
2        False
3         True
4        False
         ...
23429    False
23430    False
23431    False
23432     True
23433     True
Name: propertytype_name_th, Length: 23278, dtype: bool

In [185]:
project_home = project[project['propertytype_name_th']=='บ้าน']
project_home.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,ไม่ระบุ,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,Unknown,...,0.0,1.0,1.0,1.0,1.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
9,3878.0,61f23ca025ee250014de37f7,Baan Koonpachai,บ้านขุนพิชัย,1,Detached House,บ้าน,2390000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-01-27 13:33:04,2021-01-01 07:00:00,2022-01-27 14:00:08,baania,https://baania.com/th/project/บ้านขุนพิชัย-61f...
12,12971.0,project_10010,Saksiri 3,ศักดิ์สิริ 3,1,Detached House,บ้าน,2500000.0,609254e72467f300149b075d,"WT Land Development Co., Ltd.",...,0.0,1.0,0.0,0.0,1.0,2017-09-20 16:04:31,1970-01-02 07:00:00,2021-05-05 15:30:04,baania,https://baania.com/th/project/ศักดิ์สิริ-3-pro...

In [187]:
project_condo = project[project['propertytype_name_th']=='คอนโด']
project_condo.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
5,9434.0,project_15884,H2 Wood,เอชทู วูด,2,Condo,คอนโด,1480000.0,developer_1789,"Asset Wise Pub Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/เอชทู-วูด-projec...
8,7266.0,project_6637,Lumpini Place Rama 4-Sathorn,ลุมพินีเพลสพระราม 4-สาทร,2,Condo,คอนโด,1990000.0,developer_1745,"L.P.N.Development PCL Co., Ltd.",...,0.0,0.0,1.0,1.0,1.0,2017-05-04 13:45:47,2003-12-31 07:00:00,2020-12-04 10:40:46,baania,https://baania.com/th/project/ลุมพินีเพลสพระรา...
19,7700.0,project_17114,The The Courtyard Rayong,เดอะ คอร์ทยาร์ค ระยอง,2,Condo,คอนโด,1790000.0,developer_1165,"C.P.Land Pub Co., Ltd.",...,0.0,1.0,0.0,1.0,1.0,2020-01-15 11:21:50,2020-12-31 07:00:00,2022-01-24 18:00:13,baania,https://baania.com/th/project/เดอะ-คอร์ทยาร์ค-...
30,10219.0,project_10762,The Idol Condominium,ดิ ไอดอล คอนโดมิเนียม,2,Condo,คอนโด,1230000.0,developer_6798,"99 Karat Group Co., Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-16 09:59:00,2012-12-31 07:00:00,2020-12-04 10:41:29,baania,https://baania.com/th/project/ดิ-ไอดอล-คอนโดมิ...

In [190]:
project_Townhome = project[project['propertytype_name_th']=='ทาวน์โฮม']
project_Townhome.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,ไม่ระบุ,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
6,9219.0,5e86f32e5f777e0012d06c04,Setthasiri Lampang 2,เศรษฐศิริ ลำปาง 2,3,Townhome,ทาวน์โฮม,990000.0,5e8703595f777e0012d06c6d,"Sedsiri Property 2499 Co., Ltd.",...,0.0,0.0,0.0,0.0,1.0,2020-04-03 15:26:22,ไม่ระบุ,2021-01-06 17:00:07,baania,https://baania.com/th/project/เศรษฐศิริ-ลำปาง-...
10,8735.0,5ee720c1dda791001299b84f,Cher Ngamwongwan-Prachachune,เฌอ งามวงศ์วาน-ประชาชื่น,3,Townhome,ทาวน์โฮม,2990000.0,developer_1741,Unknown,...,0.0,1.0,1.0,1.0,1.0,2020-06-15 14:18:25,2022-01-01 07:00:00,2021-03-04 16:30:03,baania,https://baania.com/th/project/เฌอ-งามวงศ์วาน-ป...
11,21333.0,project_16422,Loet Ubon 4,บ้านเลิศอุบล 4,3,Townhome,ทาวน์โฮม,1800000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2019-07-15 10:33:46,1970-01-02 07:00:00,2020-12-04 10:42:26,baania,https://baania.com/th/project/บ้านเลิศอุบล-4-p...

In [193]:
project_home.shape

(8841, 45)

In [194]:
project_condo.shape

(4684, 45)

In [195]:
project_Townhome.shape

(6199, 45)

In [191]:
project_HCT = pd.concat([project_home,project_condo,project_Townhome])
project_HCT

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,ไม่ระบุ,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
7,9022.0,project_1488,Homeland 3 Paradise Garden,โฮมแลนด์ 3 พาราไดซ์ การ์เด้น,1,Detached House,บ้าน,2600000.0,developer_1336,Unknown,...,0.0,1.0,1.0,1.0,1.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/โฮมแลนด์-3-พาราไ...
9,3878.0,61f23ca025ee250014de37f7,Baan Koonpachai,บ้านขุนพิชัย,1,Detached House,บ้าน,2390000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-01-27 13:33:04,2021-01-01 07:00:00,2022-01-27 14:00:08,baania,https://baania.com/th/project/บ้านขุนพิชัย-61f...
12,12971.0,project_10010,Saksiri 3,ศักดิ์สิริ 3,1,Detached House,บ้าน,2500000.0,609254e72467f300149b075d,"WT Land Development Co., Ltd.",...,0.0,1.0,0.0,0.0,1.0,2017-09-20 16:04:31,1970-01-02 07:00:00,2021-05-05 15:30:04,baania,https://baania.com/th/project/ศักดิ์สิริ-3-pro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23418,7167.0,5ea6508378b3120012dd4e96,The Blue,เดอะบลู,3,Townhome,ทาวน์โฮม,1850000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2020-04-27 10:24:51,ไม่ระบุ,2020-12-04 10:32:34,baania,https://baania.com/th/project/เดอะบลู-5ea65083...
23423,17766.0,project_10694,Baan Silarom,บ้านศิลารมย์,3,Townhome,ทาวน์โฮม,2090000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,1.0,2017-10-11 15:25:13,1970-01-02 07:00:00,2020-12-04 10:36:04,baania,https://baania.com/th/project/บ้านศิลารมย์-pro...
23424,6971.0,614ab02bc4d52b0013a6fce4,Baan Ampornplace 2 Sukhaphiban 5,บ้านอัมพรเพลส 2 สุขาภิบาล 5,3,Townhome,ทาวน์โฮม,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2021-09-22 11:25:15,2000-01-01 07:00:00,2021-09-22 12:00:05,baania,https://baania.com/th/project/บ้านอัมพรเพลส-2-...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,0.0,1.0,1.0,0.0,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,0.0,0.0,0.0,0.0,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...

In [192]:
project_HCT.shape

(19724, 45)

### ต่อแกน X 


*   จับ 2 ตารางมาต่อกันเลย (merge)
*   เลือกมาเพิ่มเฉพาะบาง column (map)

In [204]:
project_1= project[['project_id', 'name_en', 'name_th']]
project_1

,project_id,name_en,name_th
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345
...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม

In [205]:
project_2 = project[['project_id', 'propertytype_name_en', 'propertytype_name_th', 'price_min']]
project_2

,project_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0
1,project_11326,Condo,คอนโด,1100000.0
2,62739c4089233e001362b001,Townhome,ทาวน์โฮม,0.0
3,project_2010,Detached House,บ้าน,0.0
4,project_16838,Townhome,ทาวน์โฮม,1930000.0
...,...,...,...,...
23429,project_12317,Townhome,ทาวน์โฮม,5700000.0
23430,project_12057,Townhome,ทาวน์โฮม,3590000.0
23431,project_4461,Commercial,อาคารพาณิชย์,1870000.0
23432,project_144,Detached House,บ้าน,4000000.0
23433,project_16300,Detached House,บ้าน,2800000.0

#### แบบง่าย รู้ว่าสองตาราง record ตรงกัน

In [206]:
full_table1 = project_2.merge(project_1)
full_table1.head()

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
1,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
2,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
3,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
4,project_11326,Condo,คอนโด,1100000.0,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม

In [207]:
full_table1.columns

Index(['project_id', 'propertytype_name_en', 'propertytype_name_th',
       'price_min', 'name_en', 'name_th'],
      dtype='object')

In [208]:
full_table2 = project_2.merge(project_1, left_on='project_id', right_on='project_id') 
full_table2

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
1,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
2,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
3,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
4,project_11326,Condo,คอนโด,1100000.0,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม
...,...,...,...,...,...,...
31571,project_12905,Commercial,อาคารพาณิชย์,7299000.0,J Business Center,เจ บิสซิเนส เซ็นเตอร์
31572,project_12317,Townhome,ทาวน์โฮม,5700000.0,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4
31573,project_12057,Townhome,ทาวน์โฮม,3590000.0,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์
31574,project_144,Detached House,บ้าน,4000000.0,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว
31575,project_16300,Detached House,บ้าน,2800000.0,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม

#### sort เรียงลำดับ

In [210]:
full_table2.sort_values('price_min')
full_table2

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
1,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
2,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
3,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
4,project_11326,Condo,คอนโด,1100000.0,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม
...,...,...,...,...,...,...
31571,project_12905,Commercial,อาคารพาณิชย์,7299000.0,J Business Center,เจ บิสซิเนส เซ็นเตอร์
31572,project_12317,Townhome,ทาวน์โฮม,5700000.0,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4
31573,project_12057,Townhome,ทาวน์โฮม,3590000.0,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์
31574,project_144,Detached House,บ้าน,4000000.0,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว
31575,project_16300,Detached House,บ้าน,2800000.0,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม

In [211]:
full_table2.sort_values('price_min',ascending=False)
full_table2

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
1,5ee08d64dda791001299b2a6,Detached House,บ้าน,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
2,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
3,5ee08d64dda791001299b2a6,Twin house,บ้านแฝด,3790000.0,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา
4,project_11326,Condo,คอนโด,1100000.0,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม
...,...,...,...,...,...,...
31571,project_12905,Commercial,อาคารพาณิชย์,7299000.0,J Business Center,เจ บิสซิเนส เซ็นเตอร์
31572,project_12317,Townhome,ทาวน์โฮม,5700000.0,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4
31573,project_12057,Townhome,ทาวน์โฮม,3590000.0,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์
31574,project_144,Detached House,บ้าน,4000000.0,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว
31575,project_16300,Detached House,บ้าน,2800000.0,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม

In [ ]:
data_human2_renamed = data_human2.rename(columns={'No.': 'patientNumber'})
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
11497          11498  0.11   ชาย       Burma
6477            6478  0.11  หญิง    Thailand
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [ ]:
data_human2_renamed.merge(data_province)

MergeError: ignored

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()

   patientNumber   age   sex nationality    No. announce_date province_of_onset
0           1988  0.10   ชาย    Thailand   1988      4/4/2020             ระยอง
1          11498  0.11   ชาย       Burma  11498     1/16/2021         สมุทรสาคร
2           6478  0.11  หญิง    Thailand   6478    12/30/2020          เพชรบุรี
3           1676  0.30   ชาย       Japan   1676      4/1/2020     กรุงเทพมหานคร
4           1076  0.40   ชาย    Thailand   1076     3/27/2020      สุราษฎร์ธานี

#### map() เลือกมาเฉพาะบาง column มาแปะเพิ่มเข้าไป

In [ ]:
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
11497          11498  0.11   ชาย       Burma
6477            6478  0.11  หญิง    Thailand
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้ โดย 

```df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)```

In [ ]:
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
11497          11498  0.11   ชาย       Burma
6477            6478  0.11  หญิง    Thailand
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand

In [ ]:
data_human2_renamed['num'] = range(data_human2_renamed.shape[0])
data_human2_renamed

       patientNumber   age   sex nationality    num
1987            1988  0.10   ชาย    Thailand      0
11497          11498  0.11   ชาย       Burma      1
6477            6478  0.11  หญิง    Thailand      2
1675            1676  0.30   ชาย       Japan      3
1075            1076  0.40   ชาย    Thailand      4
...              ...   ...   ...         ...    ...
12635          12636   NaN   NaN    Thailand  12648
12636          12637   NaN   NaN    Thailand  12649
12637          12638   NaN   NaN    Thailand  12650
12638          12639   NaN   NaN    Thailand  12651
12639          12640   NaN   NaN    Thailand  12652

[12653 rows x 5 columns]

In [ ]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map มันจะ ผูกค่า 'patientNumber' กับ 'No.' เข้าด้วยกัน แล้ว return list ของค่า ['risk']

1987     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497                              Cluster สมุทรสาคร
6477     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1675     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
                            ...
12635                              Cluster สมุทรสาคร
12636                              Cluster สมุทรสาคร
12637                              Cluster สมุทรสาคร
12638                              Cluster สมุทรสาคร
12639                              Cluster สมุทรสาคร
Name: patientNumber, Length: 12653, dtype: object

In [ ]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed

       patientNumber   age  ...    num                                       detail
1987            1988  0.10  ...      0  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  0.11  ...      1                            Cluster สมุทรสาคร
6477            6478  0.11  ...      2  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1675            1676  0.30  ...      3  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  0.40  ...      4  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...              ...   ...  ...    ...                                          ...
12635          12636   NaN  ...  12648                            Cluster สมุทรสาคร
12636          12637   NaN  ...  12649                            Cluster สมุทรสาคร
12637          12638   NaN  ...  12650                            Cluster สมุทรสาคร
12638          12639   NaN  ...  12651                            Cluster สมุทรสาคร
12639          12640   NaN  ...  12652                            Cluster สมุทรสาคร

[12653 rows x 6 columns]

# การรวมกลุ่มกัน (Groupby)

# สร้างตาราง

# บันทึกไฟล์